#stopButton{
    position: fixed;
    background-color:#40a85c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:15px 22px;
	text-decoration:none;
}

.link{
    stroke: #1fb373;
}

.particlesCanvas{
    background-color: rgb(174, 174, 174);
}

.particle{
    fill: #0e623e72;
}