.planet{
    fill: none;
    stroke-width: 3px;
    
}

.satellite{
    fill  : #ffffff;
}

#circles{
    position: relative;
}

#circlesCanvas{
    position: absolute;
    top:0;
    left: 0;
}

#circlesSvg{
    background-color: rgb(52, 52, 52);
}
